html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.2rem;
}
.left {
  float: left;
}
.right {
  float: right;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.tcenter {
  text-align: center;
}
.trigth {
  text-align: right;
}
.tleft {
  text-align: left;
}
.block {
  display: block;
}
.binline {
  display: inline-block;
}
.none {
  display: none;
}
input, a {
  outline: none;
}
:-moz-placeholder {}
::-webkit-input-placeholder {}
:-ms-input-placeholder {}
.rotation(@grad) {
  transform: rotate(@grad);
  -ms-transform: rotate(@grad);
  -webkit-transform: rotate(@grad);
}

.bradius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.shadow(@size, @color) {
  -moz-box-shadow: 0 0 @size @color;
  -webkit-box-shadow: 0 0 @size @color;
  box-shadow: 0 0 @size @color;
}

.shadowin(@size, @color) {
  -moz-box-shadow: inset 0 0 @size @color;
  -webkit-box-shadow: inset 0 0 @size @color;
  box-shadow: inset 0 0 @size @color;
}

.grad_horizontal(@startColor, @endColor) {
  background-color: @endColor;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=@startColor, endColorstr=@endColor);
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(right center, @startColor, @endColor);
  background-image: -moz-linear-gradient(right center, @startColor, @endColor);
  background-image: -o-linear-gradient(left,  @startColor,  @endColor);
  background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -ms-linear-gradient(left,  @startColor,  @endColor);
}

.grad_vertical(@startColor, @endColor) {
  background-color: @endColor;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=@startColor, endColorstr=@endColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(@startColor, @endColor);
  background-image: -moz-linear-gradient(@startColor, @endColor);
  background-image: -o-linear-gradient(top,  @startColor,  @endColor);
  background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -ms-linear-gradient(top,  @startColor,  @endColor);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}