/*Colors*/
/*base classes*/
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.none {
  display: none;
}
.tcenter {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.clear {
  clear: both;
}
.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
img.responsive {
  display: block;
  width: 100%;
  height: auto;
}
html {
  font: normal 500 10px "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
body {
  font-size: 1.4rem;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}
a:visited,
a:link,
a a:hover,
a a:active {
  outline: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden;
}
/******Media Queries*******/
/* Medium Screens*/
/* Large Screens */
