.idea/watcherTasks.xml
.idea/workspace.xml
.idea/workspace.xml
img/
node_modules/
dist/
.idea/workspace.xml
js/libs/
css/sprite.css
css/sprite.less
.idea/blankProject.iml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
css/style.css
.idea/blankProject.iml
.idea/workspace.xml
.idea/blankProject.iml
